.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #9a9a9a;
    
    z-index: 1000;
  }

  .root {
    list-style: none;
    padding-left: 0;
    width: 200px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
    color: #333;
    font-size: 1em;
    font-family: monospace;
    position: absolute;
  }
  
  .root li {
    padding: 3px;
    border-bottom: 1px solid #ccc;
  }